.header {
    background-color: rgb(0, 87, 185);
    height: 110px;
}

.form-control {
    border: none;
    color: black;
    font-weight: bold;
}

.form-control::placeholder {
    color: black;
    opacity: 1;
    font-weight: normal;
}

.form-control:disabled {
    color: black !important;
    background-color: white;
}

/* Usability */

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.hide {
    display: none;
}

.popover {
    max-width: 100% !important;
}

.bg-primary {
    background-color: rgb(0, 87, 185) !important;
}

#bg-image {
    background-image: url(https://source.unsplash.com/2gOxKj594nM);
    background-repeat: no-repeat;
    background-size: cover;
}