.header {
    background-color: rgb(0, 87, 185);
    height: 110px;
}

.form-control {
    border: none;
    color: black;
}

.form-control::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
}

.form-control:disabled {
    background-color: white;
}

/* Usability */

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.hide {
    display: none;
}

.popover {
    max-width: 100% !important;
  }